.container {
  padding: 20px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin-bottom: 30px;
}

.form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btnSave {
  padding: 10px;
  background: #3a86ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.img {
  width: 60px;
  height: auto;
}

.btnEdit {
  background: #ffbe0b;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
}

.btnDelete {
  background: #d00000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
